.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 0px 5px;
    margin: 0 2px;
    min-width: 75px;
    color: greenyellow;
    background-color: #555;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    background-color: #555;
    color: orangered;
  }
  
  .Button:hover:active {
    background-color: #555 !important;
  }
  
  .Button:active {
    background-color: #555 !important;
  }
  
  .Button:focus {
    background-color: #555;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }