.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 0px 5px;
    margin: 0 2px;
    min-width: 75px;
    color: #242a3d;
    background-color: #d8f6fe;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    background-color: #b8f3f4;
    color: #242a3d;
  }
  
  .Button:hover:active {
    background-color: #b8f3f4 !important;
  }
  
  .Button:active {
    background-color: #b8f3f4 !important;
  }
  
  .Button:focus {
    background-color: #b8f3f4;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }