.ProfileHeader {
    border-bottom: 1px solid yellow;
    color: orange;
  }
  
  .ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 10px;
  }
  
  .RightSide {
    text-align: right;
    color: greenyellow;
    background-color: #555;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }