.Post {
    background-color: #555;
    border: 1px solid yellow;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    color: orange;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }