.App {
  font-family: 'Shantell Sans', sans-serif;
  background-color: #555;
}

/*heading*/
.Heading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #555;
  border-bottom: 1px solid orange;
}

.Heading h1 {
  color: #7EFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 300%;
}

.SmHeading {
  background-color: #555;
}

.HeadingLink {
  padding: 5px;
}

/*Navbar*/

.NavSmScreen {
  display: none;
  z-index: 6;
  position: fixed;
  top: 35px;
}

.NavLgScreen {
  position: fixed;
  top: 135px;
  left: 0;
}

/*left, right and center parts of page*/
.MainContent {
  position: relative;
  top: 150px;
  margin: 0;
  padding-left: 0;
  padding-right: 20px;
  background-color: #555;
}

.LeftSide {
  position: fixed;
  height: 1000px;
  background-color: #555;
}

.Middle {
  position: relative;
  margin: 0 auto;
  padding-left: 150px;
  background-color: #555;
}

.RightSide {
  background-color: #555;
  border-left: 1px solid yellow;
  height: 1000px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: orange;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: greenyellow;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #555;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: greenyellow;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Media queries*/

@media screen and (max-width:991px) {
  /*heading*/

  .Heading h1 {
      font-size: 300%;
  }

  .HeadingLgScreen {
      display: none;
  }

  /*Navbar*/

  .NavLgScreen {
      display: none;
  }

  .NavSmScreen{
      display: block;
      position: fixed;
      top: 0px;
  }

  /*left, middle and right sides*/

  .Middle {
      top: -45px;
  }

  .RightSide {
      top: 95px;
  }
}

@media screen and (max-width:768px) {
  .Middle {
      border-right: 0px;
  }
  .RightSide {
      display: none;
  }
}

